@font-face {
    font-family: "Playfair";
    src: url("./fonts/Playfair.ttf");
}

@font-face {
    font-family: "Playfair-Italic";
    src: url("./fonts/Playfair-Italic.ttf");
}

:root {
    font-family: "Playfair", sans-serif;
    font-size: 24px;
    --shadow: rgba(0, 0, 0, 1.0);
}

@media (max-width: 1280px) {
    :root {
        font-size: 16px;
    }
}

body {
    display: grid;
    grid-template-columns: 1fr minmax(max-content, 25ch) 60ch 1fr;
    grid-template-rows: 4rem 1fr;

    /* font-family: "Times New Roman", serif; */
    /* font-family: "Caslon", sans-serif; */
    font-weight: 100;

    margin: 0;
    padding: 0;
}

h1, p, h2 {
    font-weight: 100;
}

header {
    grid-row: 1;
    grid-column: 1 / 5;
    /* box-shadow: 0rem 1rem 1rem -1.5rem var(--shadow); */
    border-bottom: 1px solid lightgrey;
    align-self: center;
    padding: 1rem;
}

header h1 {
    text-align: center;
    font-family: "Helvetica", sans-serif;
    text-transform: uppercase;
    font-weight: 1000;
    padding: 0;
    margin: 0;
}

header h6 {
    text-align: center;
    /* font-family: "Helvetica", sans-serif; */
    font-weight: 100;
    font-size: 0.55rem;
    padding: 0;
    margin: 0;
}

aside {
    grid-row: 2;
    grid-column: 2;
    place-self: start;

    padding: 1rem;
    box-shadow: 1rem 0rem 1rem -1.5rem var(--shadow);
    
    display: grid;
}

aside ul {
    display: flex;
    flex-direction: column;
    max-width: 25ch;
    gap: 0.5rem;
    user-select: none;
}

aside li {
    text-align: right;
    list-style: none;
    padding: 0.5rem;

    transition: all 0.5s;
}

aside li:hover {
    transform: translate(-2ch, 0ch);
    background-color: black;
    color: white;
}

aside a {
    text-align: right;
}

article {
    grid-row: 2;
    grid-column: 3;
    padding: 1rem 2rem;
    animation: all 1s;
}

article h2 {
}

article blockquote {
    padding-left: 2.5ch;
    margin-left: 1.5ch;
    margin-right: 0;
    border-left: 1px solid lightgrey;
    font-size: 0.75rem;
}

article blockquote p {
    text-indent: 0;
    margin-bottom: 1rem;
}

article blockquote p::before {
    width: 0;
}

article blockquote h2 {
    font-size: 1rem;
}

article p {
    text-align: justify;
    text-indent: 4ch;
    padding: 0;
    margin: 0;
    line-height: 1.7rem;
}

article p::before {
    content: "";
    width: 3ch;
    height: 1px;
    background-color: lightgrey;
    position: absolute;
    transform: translate(-4ch, 1rem);
}

article e, article a {
    background-color: black;
    color: white;
    padding: 2px 5px;
}

article a {
    text-decoration: none;
    background-color: CornflowerBlue;
    transition: all 0.1s;
}

article a:hover {
    border-bottom: 0.2rem solid CornflowerBlue;
    color: CornflowerBlue;
    background-color: white;
}
